
<html>
    <head>
      <title>비밀번호 확인</title>
    </head>
    <body>
    
    <h1>비밀번호를 입력하세요</h1>
    
    <div>
        <label for="pass">비밀번호 입력(3자 이상 입력하시오):</label>
        <input type="password" id="password" name="password" minlength="3" required >
    </div>
        <input type="submit" value="제 출" onclick="">
        <input type="button" value="닫 기" onclick="self.close();" />

    
    </body>
    </html>
    
    <!-- <script language="javascript">
        function moveClose() {
          opener.location.href="회원가입.html";
          self.close();
        }
        </script> -->


<script type="text/javascript">
    function tocheckpw1() {
        var pw = document.getElementById("password").value;
        var pwck = 12345
 
        if (pw != pwck) {
            alert('비밀번호가 틀렸습니다. 다시 입력해 주세요');
            return false;
        }
        else {   href="NoticeEdit.vue"   }
    }

</script>


